{% if section.settings.image != blank %}
  <div class="collection-banner">
    {%- render 'basic-responsive-image', type: section.settings.image, width: 2000, loading: 'eager'  -%}
  </div><!-- /.collection-banner -->
{% endif %}

{% schema %}
{
  "name": "Banner image",
  "settings":
  [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "1800px x 400px recommended"
    }
  ],
  "presets":
  [
    {
      "name": "Banner image"
    }
  ],
  "templates":
  [
    "404",
    "article",
    "blog",
    "collection",
    "page",
    "list-collections",
    "product",
    "search",
    "customers/account"
  ]
}
{% endschema %}
