/* Fixing cutoff button on collection pages */
.template-collection .product-item a.button.button-ATC {
    padding: 8px 15px;
}
/* Fixing cutoff button on collection pages ends */

#corner-cowi-cart-wrapper div#corner-cowi-cart-custom-html-below-cta {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
  color: black;
}
div#corner-cowi-cart-custom-html-below-cta div{
    color: black !important;
}

#corner-cowi-cart-wrapper .trust-badges {
    margin: 0;
}