@font-face {
 font-family: "Supreme-Extrabold";
 src: url('https://cdn.shopify.com/s/files/1/0438/0167/3883/files/Supreme-Extrabold.woff2?v=1725391710') format("woff2"),
 url('https://cdn.shopify.com/s/files/1/0438/0167/3883/files/Supreme-Extrabold.woff?v=1725390310') format("woff"); }

:root {
  
  /*
  
--font-logo: unset:
--font-logo-weight: unset;
--font-logo-style: unset;
*/


--font-headint: Supreme-Extrabold; 
--font-heading-weight: unset;
--font-heading-style: unset;

 
--font-body: Supreme-Extrabold;
--font-body-weight: unset;
--font-body-style: unset;

}

/*** Homepage styles start ***/
.btn.primary-btn{
    display: inline-block !important;
    background: #000 !important;
}
/*** Homepage styles end ***/

/**** Blog page styles start ****/
.blog-main--wrapper .blog-main--title{
  text-transform: uppercase;
}
.blog-main--wrapper .page--title{
  margin-bottom: 40px;
}
/**** Blog page styles end ****/

/**** Article page styles start ****/
.template-article .rte .article--image-wrapper{
  max-width: 60%;
  margin: 0 auto;
}
.template-article .rte .article--image-wrapper img{
  width: 100%;
}
.template-article .rte img{
  width: auto;
}
/**** Article page styles end ****/

/**** Product page Sticky Add to cart styles start ****/
@media (max-width: 767px){
.template-product .sticky-add-to-cart.visible{
  opacity: 1;
  visibility: visible;
  height: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  transition: all .3s ease;
  text-align: center;
  background-color: #f4f4f4;
  box-shadow: 0 -2px 7px #dcdcdc;
  padding: 15px;
  left:0;
}
.template-product .sticky-add-to-cart.visible .product-details-product-title,
.template-product .sticky-add-to-cart.visible .product-price-group,
.template-product .sticky-add-to-cart.visible linked-products.linked-products,
.template-product .sticky-add-to-cart.visible .product-form-separator,
.template-product .sticky-add-to-cart.visible .text-with-icon.product-form-block,
.template-product .sticky-add-to-cart.visible .collapsible,
.template-product .sticky-add-to-cart.visible .swatch,
.template-product .sticky-add-to-cart.visible stock-level-indicator,
.template-product .sticky-add-to-cart.visible .paymentButtonsWrapper .shopify-payment-button,
.template-product .sticky-add-to-cart.visible .paymentButtonsWrapper .shopify-payment-terms__container,
.template-product .sticky-add-to-cart.visible .paymentButtonsWrapper square-placement,
.template-product .sticky-add-to-cart.visible .shopify-app-block,
.template-product .sticky-add-to-cart.visible delivery-promise-wc,
.template-product .product-section #breadcrumbs{
  display: none;
}
.template-product .sticky-add-to-cart.visible .product-single__variants{
  display: block !important;
  width: 100%;
  background: url("../assets/ico-select.svg") no-repeat right 10px center;
  background-size: 12px;
}
.template-product .sticky-add-to-cart.visible .product-form-block{
  margin-bottom: 0;
}
.template-product .sticky-add-to-cart.visible .paymentButtonsWrapper{
  row-gap: 0;
}
.template-product back-to-top {
  bottom: calc(116px - 1px);
  z-index: 9999;
}
.template-product .kl-teaser-XTNgtD.kl-private-reset-css-Xuajs1{
  margin: 0 !important;
  width: 104px !important;
}
}
/**** Product page Sticky Add to cart styles end ****/

/**** Product page payment button styles start ****/
.product-form-wrapper .paymentButtonsWrapper .shopify-payment-button{
  display: none;
}
.product-form-wrapper .paymentButtonsWrapper{
  margin-bottom: 20px !important;
}
.product-form-wrapper .shopify-payment-terms__container shopify-payment-terms{
  margin-top: 18px;
  margin-bottom: 0;
}
.product-form-wrapper .paymentButtonsWrapper{
  row-gap: 2px;
}
/**** Product page payment button styles end ****/

/**** Home USP icons styles start ****/
.usp-icons-list{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}
.usp-icons-list > div{
    padding: 0 20px;
    width: 50%;
    margin: 0 0 10px;
}
.usp-icons-list h3{
    text-transform: uppercase;
    font-size: 16px;
    margin: 15px 0;
}
@media (min-width: 768px){
.usp-icons-list > div{
    width: 25%;
}  
}
/**** Home USP icons styles end ****/

/**** Address field in footer ****/
.addr-text{
  margin-top: 20px;
}
/**** Address field in footer ****/

/**** Breadcrumbs styles start *****/
#breadcrumbs .breadcrumb{
  margin-bottom: 10px;
}
#breadcrumbs .breadcrumb .breadcrumb-item:not(:last-child){
  margin-right: 3px;
}
#breadcrumbs .breadcrumb .breadcrumb-divider:not(:last-child){
  margin-right: 8px;
}
#breadcrumbs .breadcrumb>span {
  font-size: 16px;
}
#breadcrumbs .breadcrumb a span{
  text-transform: none;
}
/**** Breadcrumbs styles end *****/

/**** Collection List Carousel styles start ****/
.featured-collections-wrapper .homepage-collections-background .collection-grid-carousel.keep-spacing {
    padding-left: 40px;
    padding-right: 40px;
}
.collection-grid-carousel .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
    font-size: 0;
    background: transparent;
}
.collection-grid-carousel .slick-prev{
    left: 14px;
    transform: translateY(-50%) rotate(135deg);
}
.collection-grid-carousel .slick-next{
    right: 14px;
    transform: translateY(-50%) rotate(-45deg);
}
@media (min-width: 768px){
.collection-grid-carousel .slick-prev{
    left: 20px;
}
.collection-grid-carousel .slick-next{
    right: 20px;
}  
}
/**** Collection List Carousel styles end ****/