<!--- FOREPLAY FRIDAY HTML START --->
<div class="foreplay-friday-header">
  <a href="{{ shop.url }}" target="self" title="Amazing Intimate Essentials – Shop Online">
    <img class="foreplay-friday-header--logo" src="https://cdn.shopify.com/s/files/1/0512/1323/8434/files/amazing-intimate-essentials-purple-logo.png?v=1697725984" alt="Amazing Intimate Essentials Logo" />
  </a>
</div>

<div class="foreplay-friday-body">
  <div class="foreplay-friday-body--content">
    <h1 class="foreplay-friday-headline">foreplay friday</h1>
    <p class="foreplay-friday-description">Spin the wheel for a chance to win great prizes including up to <span style="font-weight: 700; color: #87cbdb;">$500 CASH!</span></p>
    <img class="foreplay-friday-polaroids" src="https://cdn.shopify.com/s/files/1/0512/1323/8434/files/foreplay-friday-prize-polaroids.png?v=1697725263" alt="Polaroid photos with descriptive text: Win free prizes, or up to $500 cash!" />
  </div>
</div>

<div class="foreplay-friday-cta">
  <img src="https://cdn.shopify.com/s/files/1/0512/1323/8434/files/its-not-about-us-its-about-you.png?v=1698095754" alt="It's not about us...it's about you!" />
</div>
<!--- FOREPLAY FRIDAY HTML END --->